Repository ToogaInc/ToogaBooga, pull requests merged in 2022-08, with the labels that each got.

#225 feat(parse): attachment option
  src/commands/BaseCommand.ts
  src/commands/staff/Parse.ts
Labels: it-enhancement, c-moderation

#228 feat(verif): forced manual verification added
  src/commands/config/ConfigVerification.ts
  src/commands/staff/CheckManualVerifyApp.ts
  src/commands/staff/EditName.ts
  src/commands/staff/Find.ts
  src/commands/staff/ManualVerifyMain.ts
  src/commands/staff/RemoveName.ts
  src/definitions/MongoDocumentInterfaces.ts
  src/definitions/VerificationInterfaces.ts
  src/events/InteractionEvent.ts
  src/managers/MongoManager.ts
  src/managers/VerifyManager.ts
  src/utilities/Logger.ts
Labels: it-enhancement, c-verification

#224 refactor(afk-check): require location before start
  src/commands/config/ConfigDungeons.ts
  src/constants/dungeons/DungeonData.ts
  src/definitions/DungeonRaidInterfaces.ts
  src/instances/RaidInstance.ts
Labels: it-enhancement, c-raid

#233 fix(modmail): remove button actually deletes modmail message
  src/commands/modmail/Reply.ts
  src/events/InteractionEvent.ts
  src/managers/ModmailManager.ts
Labels: it-enhancement, c-moderation
